@model LaEsmeraldaCostaRica.Models.Bolsa_por_caja

@{
    ViewBag.Title = "Delete";
}

<h2>Inventario</h2>

<div>
    <h4>Eliminar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bolsa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bolsa.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caja.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fec_entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fec_entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fech_vencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fech_vencimiento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
