@model LaEsmeraldaCostaRica.Models.Bolsa_por_caja

@{
    ViewBag.Title = "Details";
}

<h2>Inventario</h2>

<div>
    <h4>Detalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bolsa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bolsa.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caja.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fec_entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fec_entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fech_vencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fech_vencimiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver", "Index")
</p>
